@inject IJSRuntime JsRuntime
<h2 style="color: cornflowerblue;">Serial Port工具</h2>
<div style="color: cornflowerblue;">工具采用MIT开源协议，完全商用免费，</div>
<div style="color: cornflowerblue;">欢迎大家使用，如果有问题，欢迎提issue</div>
<span style="color: cornflowerblue;">如果觉得好用，欢迎star <MButton Icon Small OnClick="()=>GoTo(GitHub)"><MIcon>mdi-github</MIcon></MButton></span>